{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="keywords" content="Test" />
        <meta name="description" content="Testing" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Test</title>
        <link href="{% static 'css/style.css' %}" rel="stylesheet" />
    </head>
    <body>
        <h1>This is Home page</h1>
        <p>To be updated soon page</p>
        <p>We are happy to ear from you</p>
    </body>
</html>